<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="text-center text-xl-left text-muted">
          <a href="" class="font-weight-bold ml-1">Mentegy</a>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="text-center text-xl-right text-muted">
          <a href="" class="font-weight-bold ml-1"> &copy; Mentegy</a>
          - coded by <a target="_blank" href="">Group 2</a>.
        </div>
      </div>
    </div>
</footer>